<div class="album text-muted">
    <div class="container">
        <div class="row">
            <div class="card">
                <p>{{ 'profile.show.username'|trans({}, 'FOSUserBundle') }}: {{ user.username }}</p>
                <p>{{ 'profile.show.email'|trans({}, 'FOSUserBundle') }}: {{ user.email }}</p>
            </div>
            <div class="card">
                <form action="/PhpProject1/web/profile/posts" class="form-signin card-image">
                    <input type="submit"
                           class="btn btn-lg btn-primary btn-block top-margin10px"
                           value="Your posts" />
                </form>
            </div>
            {% if is_granted('ROLE_SUPER_ADMIN') %}
                <div class="card">
                    <form action="/PhpProject1/web/posts" class="form-signin card-image">
                        <input type="submit"
                               class="btn btn-lg btn-primary btn-block top-margin10px"
                               value="All posts" />
                    </form>
                </div>
            {% endif %}
        </div>
    </div>
</div>
