{% extends '@Web/layout.html.twig' %}

{% block title %}Home{% endblock %}

{% block web_content %}
    <div class="album text-muted">
        <div class="container">

            <div class="row">
                <div class="card">
                    <img src="images\images-small\image1.jpg" alt="Card image cap">
                    <a href="image/1">
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    </a>
                </div>
                <div class="card">
                    <img src="images\images-small\image2.jpg" alt="Card image cap">
                    <a href="image/2">
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    </a>
                </div>
                <div class="card">
                    <img src="images\images-small\image3.jpg" alt="Card image cap">
                    <a href="image/3">
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    </a>
                </div>

                <div class="card">
                    <img src="images\images-small\image4.jpg" alt="Card image cap">
                    <a href="image/4">
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    </a>
                </div>
                <div class="card">
                    <img src="images\images-small\image5.jpg" alt="Card image cap">
                    <a href="image/5">
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    </a>
                </div>
                <div class="card">
                    <img src="images\images-small\image6.jpg" alt="Card image cap">
                    <a href="image/6">
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    </a>
                </div>

                <div class="card">
                    <img src="images\images-small\image7.jpg" alt="Card image cap">
                    <a href="image/7">
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    </a>
                </div>
                <div class="card">
                    <img src="images\images-small\image8.jpg" alt="Card image cap">
                    <a href="image/8">
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    </a>
                </div>
                <div class="card">
                    <img src="images\images-small\image9.jpg" alt="Card image cap">
                    <a href="image/9">
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    </a>
                </div>

                <div class="card">
                    <img src="images\images-small\image10.jpg" alt="Card image cap">
                    <a href="image/10">
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    </a>
                </div>
                <div class="card">
                    <img src="images\images-small\image11.jpg" alt="Card image cap">
                    <a href="image/11">
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    </a>
                </div>
                <div class="card">
                    <img src="images\images-small\image12.jpg" alt="Card image cap">
                    <a href="image/12">
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    </a>
                </div>
            </div>

        </div>
    </div>
{% endblock %}
