{% extends '@Web/layout.html.twig' %}

{% block title %}Contact{% endblock %}

{% block web_content %}
    <div class="album text-muted">
        <div class="container">
            <div class="row">
                <div class="card card-image">
                    <p class="card-text">Contact</p>
                    <ul>
                        <li class="card-text">Mateusz Proskura</li>
                        <li class="card-text">mateusz.proskura@pollub.edu.pl</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}